# packages in environment at /Users/thomasryde/opt/anaconda3/envs/myenv:
#
# Name                    Version                   Build  Channel
appnope                   0.1.2           py39hecd8cb5_1001  
backcall                  0.2.0              pyhd3eb1b0_0  
ca-certificates           2021.10.26           hecd8cb5_2  
certifi                   2021.10.8        py39hecd8cb5_0  
decorator                 5.1.0              pyhd3eb1b0_0  
ipython                   7.29.0           py39h01d92e1_0  
jedi                      0.18.0           py39hecd8cb5_1  
libcxx                    12.0.0               h2f01273_0  
libffi                    3.3                  hb1e8313_2  
matplotlib-inline         0.1.2              pyhd3eb1b0_2  
ncurses                   6.3                  hca72f7f_2  
openssl                   1.1.1l               h9ed2024_0  
parso                     0.8.2              pyhd3eb1b0_0  
pexpect                   4.8.0              pyhd3eb1b0_3  
pickleshare               0.7.5           pyhd3eb1b0_1003  
pip                       21.2.4           py39hecd8cb5_0  
prompt-toolkit            3.0.20             pyhd3eb1b0_0  
ptyprocess                0.7.0              pyhd3eb1b0_2  
pygments                  2.10.0             pyhd3eb1b0_0  
python                    3.9.7                h88f2d9e_1  
readline                  8.1                  h9ed2024_0  
setuptools                58.0.4           py39hecd8cb5_0  
sqlite                    3.37.0               h707629a_0  
tk                        8.6.11               h7bc2e8c_0  
traitlets                 5.1.1              pyhd3eb1b0_0  
tzdata                    2021e                hda174b7_0  
wcwidth                   0.2.5              pyhd3eb1b0_0  
wheel                     0.37.0             pyhd3eb1b0_1  
xz                        5.2.5                h1de35cc_0  
zlib                      1.2.11               h4dc903c_4  
